body {
  background-color: rgb(105, 109, 105);
}
nav {
  background-color: white;
  width: 40xp;
  text-align: left;
}
nav {
  margin-top: 20px;
  margin-bottom: 0px; 
}

header {
    position: fixed;
    background-color: yellow;
    top: 0xp;
    left: 30xp;
    width: 50xp;
    height: 40xp;
  }